upstream web {

	server nginx-web.lab;
}

server {

	listen 80;

	server_name nginx-proxy.lab;

	location / {
		
		proxy_pass http://web;
	}

}

server {
	server_name _;
	listen 8080;

	#https://github.com/nginxinc/nginx-prometheus-exporter
	location /stub_status {
		stub_status;
	}
}
