[Unit]
Description= a prometheus monitoring service
After=network.target
[Service]
ExecStart=/opt/prometheus/prometheus --config.file=/opt/prometheus/prometheus.yml --storage.tsdb.path=/opt/prometheus/
ExecStop=/bin/kill "$MAINPID"
Type=simple
Restart=always
User=prometheus
[Install]
WantedBy=multi-user.target
