[Unit]
Description= a prometheus exporter for wireguard 
After=network.target
[Service]
ExecStart=/opt/prometheus_wireguard_exporter/target/release/prometheus_wireguard_exporter
ExecStop=/bin/kill "$MAINPID"
Type=simple
Restart=always
User=prometheus
[Install]
WantedBy=multi-user.target
