[Unit]
Description= a prometheus exporter for wireguard 
After=network.target
[Service]
ExecStart=/opt/prometheus_wireguard_exporter/target/release/prometheus_wireguard_exporter
ExecStop=/bin/kill "$MAINPID"
Type=simple
Restart=always
User=wg_exporter
[Install]
WantedBy=multi-user.target
#wg show wg0 | grep endpoint | sed -e '.*endpoint: \(.*\)/\1/g'